<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rania_lngshot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ranialngshot"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".home.agenda_desa.AgendaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.agenda_desa.AgendaDesaActivity"
            android:exported="false" />
        <activity
            android:name=".note.NoteFormActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_10.TenthActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_7.SeventhActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.FourthActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.Custom2Activity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.Custom1Activity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.RumusActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_4.MainnActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_2.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_2.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".home.pertemuan_2.WelcomeActivity"
            android:exported="false" />
        <receiver
            android:name=".utils.ReminderReceiver"
            android:exported="false"/>
    </application>

</manifest>